body {
  margin: 0;
  overflow: hidden;
}
.banner-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  padding: 20px;
  position: relative;
}
.banner-content {
  flex-basis: 50%;
}
.social-media span {
  font-size: 20px;
  line-height: 20px;
  font-weight: 500;
  color: white;
}
.banner-content span p {
  font-size: 16px;
  line-height: 17px;
  word-spacing: 3px;
  font-weight: 700;
  color: white;
}
.banner-content span p {
  margin-bottom: 10px;
}
.banner-content p {
  font-size: 20px;
  font-weight: 400;
  line-height: 26px;
  margin-bottom: 24px;
  color: white;
}
.developr-rol {
  display: flex;
  align-items: center;
  gap: 10px;
}
.Typewriter {
  display: flex;
}
.banner-content h2 {
  color: white;
  font-size: 64px;
  font-weight: 900;
  line-height: 70px;
  margin: 0;
  text-transform: uppercase;
  margin-bottom: 8px;
}
.banner-content h3 {
  text-transform: uppercase;
  margin: 0;
  font-size: 40px;
  font-weight: 700;
  line-height: 40px;
  color: #0788ff;
  transition: all 3s;
  margin-bottom: 25px;
}
.content {
  width: 100%;
}
.banner-content img {
  width: 100%;
}
.banner-content {
  display: flex;
  justify-content: center;
  align-items: center;
}
.social-media {
  display: flex;
  align-items: center;
  gap: 10px;
  transition: all 0.3s;
}
.social-media span {
  padding: 10px;
  background-color: rgb(54, 53, 54);
  border-radius: 50%;
  transition: all 0.3s;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
.social-media span:hover {
  background-color: red;
}
.social-media span::after {
  content: "";
  width: 41px;
  background: #0788ff;
  height: 30px;
  position: absolute;
  bottom: -29px;
  translate: 0 -90px;
  transition: all 1s;
  left: 0;
}
.social-media span:hover::after {
  height: 100px;
  translate: 0 20px;
  z-index: 0;
}
.social-media span:before {
  content: "";
  width: 41px;
  background: #0788ff;
  height: 30px;
  position: absolute;
  bottom: -29px;
  translate: 0 9px;
  transition: all 1s;
  left: 0;
}
.social-media span:hover:before {
  height: 100px;
  z-index: 0;
}
.social-media span svg {
  width: 20px;
  height: 20px;
  position: relative;
  z-index: 1;
}

@media (max-width: 1018px) {
  .banner-content h2 {
    font-size: 44px;
    line-height: 55px;
  }
  .banner-content h3 {
    font-size: 30px;
    line-height: 36px;
  }
}
@media (max-width: 768px) {
  .banner-content h2 {
    font-size: 35px;
    line-height: 40px;
  }
  .banner-content h3 {
    font-size: 25px;
    line-height: 32px;
  }
}
@media (max-width: 599px) {
  .banner-container {
    flex-direction: column-reverse;
    gap: 60px;
  }
  .typing-animation {
    height: auto;
  }
  .developr-rol {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
  .banner-content p,
  .banner-content h2 {
    margin-bottom: 20px;
  }
  .content {
    text-align: center;
    padding-bottom: 70px;
  }
  .social {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .social-media {
    left: auto;
  }
  .banner-content h2 {
    font-size: 35px;
    line-height: 40px;
  }
  .banner-content h3 {
    font-size: 25px;
    line-height: 32px;
  }
}
