body {
  margin: 0;
  overflow: hidden;
}
.common-container {
  max-width: 100vw !important;
  margin: 0 !important;
  padding: 0 !important;
}
.banner-container {
  max-height: 950px;
  overflow: hidden;
  transform: translate(0, -107px);
  position: relative;
  z-index: 0;
}

.banner {
  background-color: #101010;
  background-image: url(".//..//../public/image/bg-image-28.jpg");
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  max-width: 100%;
  height: 950px;
}

.sadek-banner {
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
  height: 100%;
}
.banner-content {
  position: absolute;
  left: 10%;
  top: 35%;
  overflow: hidden;
}
.banner-content span {
  font-size: 20px;
  line-height: 20px;
  font-weight: 500;
}
.banner-content h2 {
  font-size: 60px;
  font-weight: 900;
  line-height: 86px;
  margin: 0;
}
.banner-content h3 {
  margin: 0;
  font-size: 40px;
  font-weight: 700;
  line-height: 40px;
  color: red;
  transition: all 3s;
}
.typing-animation {
  min-height: 300px;
}
.social-media {
  display: flex;
  align-items: center;
  gap: 10px;
  transition: all 0.3s;
}
.social-media span {
  padding: 10px;
  background-color: rgb(54, 53, 54);
  border-radius: 50%;
  transition: all 0.3s;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
.social-media span:hover {
  background-color: #0788ff;
}
.social-media span:before {
  content: "";
  width: 41px;
  background: red;
  height: 30px;
  position: absolute;
  bottom: -29px;
  translate: 0 9px;
  transition: all 1s;
  left: 0;
}
.social-media span:hover:before {
  height: 100px;
  z-index: 0;
}
.social-media span svg {
  width: 20px;
  height: 20px;
  position: relative;
  z-index: 1;
}
