.my-modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.5);
  transition: all 0.3s;
  padding: 0 20px;
}
.portfolio-modal {
  width: 90%;
  max-width: 700px;
  background-color: white;
  padding: 25px;
  box-sizing: border-box;
  position: relative;
  z-index: 2;
  transition: all 0.3s;
  border-radius: 10px;
}
.close-modal-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0 0;
}
.close-modal-container svg {
  height: 40px;
  width: 40px;
}
.close-modal-container span {
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
}
.close-modal-container span:last-child {
  display: block;
  color: rgb(0, 0, 0);
  cursor: pointer;
}
.modal-project-details {
  padding: 20px;
  white-space: wrap;
}
.modal-project-content {
  padding: 20px 0 10px;
}
.modal-project-details h6 {
  font-size: 16px;
  font-weight: 700;
  line-height: 28px;
}
.modal-project-details h6 a {
  color: rgb(48, 48, 255);
  font-size: 16px;
  font-weight: 500;
}
.modal-project-details p {
  font-size: 16px;
  font-weight: 400;
  padding-top: 20px;
}
@media (max-width: 768px) {
  .modal-project-details {
    max-height: 410px;
    overflow-y: auto;
  }
}
