.about-me-container {
  max-width: 100%;
  background-color: #052545;
}
.about-me {
  max-width: 1200px;
  margin: 0 auto;
  padding: 100px 20px 50px;
}
.about-container {
  display: flex;
  align-items: center;
  gap: 60px;
}
.about-img {
  flex-basis: 40%;
  position: relative;
  padding: 20px;
  width: 100%;
}
.about-img img {
  width: 100%;
  margin: 0 auto;
  display: block;
  object-fit: cover;
  border-radius: 20px;
  border-top-right-radius: 311px;
  border-top-left-radius: 311px;
}

.about-content {
  flex-basis: 60%;
  padding: 20px;
}
.about-content span {
  font-size: 16px;
  line-height: 18px;
  background-color: tomato;
  padding: 4px 12px;
  transform: skewX(-15deg);
  display: inline-block;
  color: white;
  margin-bottom: 15px;
}
.about-content h2 {
  font-size: 45px;
  line-height: 48px;
  font-weight: 700;
  margin-bottom: 20px;
  color: white;
}
.about-content p {
  font-size: 18px;
  line-height: 28px;
  font-weight: 400;
  margin-bottom: 40px;
  color: rgb(255, 255, 255);
}
@media (max-width: 768px) {
  .about-container {
    flex-direction: column;
    text-align: center;
  }
  .about-container {
    gap: 0;
  }
  .about-me {
    padding: 30px 20px;
  }
  .about-img {
    flex-basis: 100%;
  }
  .about-content h2 {
    font-size: 30px;
    line-height: 40px;
  }
  .about-content p {
    font-size: 16px;
    line-height: 22px;
  }
}
