button a {
  padding: 16px 36px;
  background-color: #0788ff;
  transition: all 0.3s;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  border-radius: 5px;
  display: inline-block;
  z-index: 2;
  color: white;
  font-weight: 600;
  border: 1px solid #0788ff;
}
/* button a:hover {
  background-color: red;
}
button a::after {
  content: "";
  width: 411px;
  background: #0788ff;
  height: 30px;
  position: absolute;
  bottom: -23px;
  translate: 0 -90px;
  transition: all 1s;
  left: 0;
  z-index: -1;
} */
/* button a:hover::after {
  height: 100px;
  translate: 0 20px;
}
button a:before {
  content: "";
  width: 411px;
  background: #004a65;
  height: 30px;
  position: absolute;
  bottom: -29px;
  translate: 0 9px;
  transition: all 1s;
  left: 0;
  z-index: -1;
  background: linear-gradient(97deg, #fa5252, #dd2476);
}
button a:hover:before {
  height: 150px;
} */
button a:hover {
  transform: translateY(-3px) scale(1.05);
  background: transparent;
  border: 1px solid #856565;
  box-shadow: rgb(94 102 111) 0px 20px 30px -10px;
}
/* button a svg {
  width: 20px;
  height: 20px;
  position: relative;
  z-index: 1;
} */
